/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #3f0b88;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card h2 {
    color: #333;
    font-size: 24px;
}

.product-card p {
    color: #777;
    font-size: 16px;
}

.price {
    color: #333;
    font-weight: bold;
}

.stock {
    color: green;
    font-weight: bold;
}

button {
    background-color: #3f0b88;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #29105f;
}

/* Media Queries */

/* Breakpoint para 900px */
@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Breakpoint para 480px */
@media (max-width: 480px) {
    header {
        text-align: center;
    }
    
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 28px;
    }

    .product-card h2 {
        font-size: 20px;
    }

    .product-card p {
        font-size: 14px;
    }
}
