body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFAF0; 
    color: #8B4513; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

h1 {
    color: #D2691E; 
    margin: 10px 0; 
}

a {
    color: #FF4500; 
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFD700; 
}

a:hover {
    background-color: #FF6347;
    color: #FFFFFF; 
}

form {
    border: 3px solid #FF8C00;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFF5EE; 
    width: 90%; 
    max-width: 500px; 
}

label {
    font-size: 1.1em;
}

input, select {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border: 2px solid #FFA500; 
    border-radius: 5px;
    width: calc(100% - 22px); 
}

button {
    background-color: #FF4500; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #FF6347; 
}
